* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
}

header {
    padding: 2.5rem 1.5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo img{
    height: 3rem;
    width: auto;
}
.nav__menu div {
    height: 2rem;
    width: 4rem;
    background-image: url('./news-homepage-main/assets/images/icon-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.main {
    padding: 0 1.5rem;
}
.main__image {
    height: 30rem;
}
.main__image div{
    height: 100%;
    background-image: url('./news-homepage-main/assets/images/image-web-3-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}