* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    background-color: hsl(36, 100%, 99%);
    display: grid;
    justify-items: center;
}

/* NAVIGATION SECTION */

header {
    padding: 2.5rem 1.5rem;
    min-width: 100%;
    max-width: 50rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo img{
    height: 3rem;
    width: auto;
    cursor: pointer;
}
.nav__menu div {
    height: 2rem;
    width: 4rem;
    background-image: url('./news-homepage-main/assets/images/icon-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.nav__desktop {
    display: none;
}

/* MAIN SECTION */

.main {
    max-width: 50rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "image image"
        "title title"
        "button button";
    row-gap: 1.5rem;
}
.main__image {
    height: 30rem;
    grid-area: image;
}
.main__image div{
    height: 100%;
    background-image: url('./news-homepage-main/assets/images/image-web-3-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main__title {
    grid-area: title;
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 4rem;
    color: hsl(240, 100%, 5%);
}

.main__text {
    grid-area: button;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.7rem;
    color: hsl(236, 13%, 42%);
}

.main__text button {
    height: 4.5rem;
    width: 55%;
    margin: 2rem 0;
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    letter-spacing: .4rem;
    border-style: none;
    cursor: pointer;
}

/* ASIDE SECTION */

aside {
    padding: 1.5rem;
    max-width: 50rem;
}
.aside {
    background-color: hsl(240, 100%, 5%);
    padding: 0 2rem;
}

.aside__title {
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: 700;
    color: hsl(35, 77%, 62%);
}

.aside__topics {
    padding: 1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.aside__topics h3 {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: hsl(36, 100%, 99%);
    cursor: pointer;
}

.aside__topics p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: hsl(233, 8%, 79%);
}

.aside__line {
    padding: 1rem 0 2rem 0;
}

.aside__line hr {
    border-top: .1rem solid hsl(233, 8%, 79%);
    opacity: 50%;
}

/* ARTICLES SECTION  */

body > #article {
    padding: 3.5rem 1.5rem 4rem 1.5rem;
    max-width: 50rem;
}

#article > section {
    display: flex;
    flex-direction: column;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "image number number"
        "image title title"
        "image description description";
    padding: 1.5rem 0;
}

.articles__image {
    grid-area: image;
}

.articles__image img {
    width: auto;
    height: 13rem;
}

.articles__number {
    grid-area: number;
    font-size: 2rem;
    font-weight: 800;
    color: hsl(233, 8%, 79%);
}

.articles__title {
    grid-area: title;
    font-size: 1.7rem;
    font-weight: 700;
    color: hsl(240, 100%, 5%);
    cursor: pointer;
}

.articles__description {
    grid-area: description;
    font-size: 1.5rem;
    font-weight: 400;
    color: hsl(236, 13%, 42%);
}

/* RESPONSIVE */

@media  screen and (min-width: 1440px) {
    body {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "nav nav nav"
            "main main aside"
            "main main aside"
            "article article article";
        justify-items: center;
        /* justify-content: space-between; */
        padding: 0rem 15rem;
        column-gap: 3rem;
    }

    /* NAVIGATION SECTION */

    header {
        grid-area: nav;
        width: 114rem;
        padding: 3.5rem 0;
    }

    .nav__desktop {
        display: flex;
        font-size: 1.5rem;
        gap: 5rem;
    }

    .nav__desktop a {
        color: hsl(236, 13%, 42%);
        text-decoration: none;
        cursor: pointer;
    }

    .nav__menu {
        display: none;
    }

    /* MAIN SECTION */

    main {
        grid-area: main;
    }

    .main {
        grid-template-areas: 
            "image image"
            "title text";
        max-width: none;
        gap: 3rem 3.5rem;
        padding: 0;
    }

    .main__image {
        grid-area: image;
        width: 100%;
    }

    .main__image div {
        background-image: url('./news-homepage-main/assets/images/image-web-3-desktop.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main__title {
        grid-area: title;
        font-size: 3.5rem;
        line-height: 5.5rem;
    }

    .main__text {
        grid-area: text;
    }

    /* ASIDE SECTION */

    aside {
        grid-area: aside;
        padding: 0;
    }

    /* ARTICLES SECTION */

    body > #article {
        max-width: none;
        padding: 3.5rem 0;
        min-width: 100%;
    }

    #article {
        grid-area: article;
    }

    #article > section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .articles {
        width: 36rem;
    }
}

/* ACTIVE STATES */

.nav__desktop a:hover {
    color: hsl(5, 85%, 63%);
}

.main__text button:hover {
    background-color: hsl(240, 100%, 5%);
}

.aside__topics h3:hover {
    color: hsl(35, 77%, 62%);
}

.articles__title:hover {
    color: hsl(5, 85%, 63%);
}