* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    background-color: hsl(36, 100%, 99%);
}

/* NAVIGATION SECTION */

header {
    padding: 2.5rem 1.5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo img{
    height: 3rem;
    width: auto;
}
.nav__menu div {
    height: 2rem;
    width: 4rem;
    background-image: url('./news-homepage-main/assets/images/icon-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* MAIN SECTION */

.main {
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "image image"
        "title title"
        "button button";
    row-gap: 1.5rem;
}
.main__image {
    height: 30rem;
    grid-area: image;
}
.main__image div{
    height: 100%;
    background-image: url('./news-homepage-main/assets/images/image-web-3-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main__title {
    grid-area: title;
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 4rem;
    color: hsl(240, 100%, 5%);
}

.main__text {
    grid-area: button;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.7rem;
    color: hsl(236, 13%, 42%);
}

.main__text button {
    height: 4.5rem;
    width: 55%;
    margin: 2rem 0;
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    letter-spacing: .4rem;
    border-style: none;
    cursor: pointer;
}